#vilbur-biography
{
	//color: $text-color;

	.hero
	{
		//margin-bottom: 3rem;
		//border:	1px solid green;

		.column
		{
			//border:	1px solid green;
		}
		//
		//.column, .subtitle
		//{

		//}

		//overflow: hidden;

		


	}
}