#vilbur-biography
{
	color: $text-color;

	.hero
	{
		margin-bottom: 3rem;
		//border:	1px solid green;

		.column
		{
			//border:	1px solid green;
		}
		//
		//.column, .subtitle
		//{

		//}

		overflow: hidden;
		
		.logo 
		{
			//border:	1px solid green;

			height: 4rem;
			max-height: 100%;
			//padding:	0.5rem;
			//padding-left: 1.5em;
			//padding-bottom: 0;

			//margin: 0 auto;
			//border:	1px solid green;

			img
			{
				//border:	1px solid blue;
				//width: 6em;
				height: 4rem;
				//max-height: 4rem;
				max-height: 100%;
			}
		}
		
		.item-title-wrapper
		{
			//border:	1px solid darken($brand-primary, 10%);
			border-bottom:	1px solid white;

			//background-color: $brand-primary;
			margin-bottom: 0;
			height:	4rem;
			position: relative;
			padding-bottom: 0px;
	
			.item-title
			{
				position: absolute;
				bottom: 0px;
				//left: 0px;
				color: white;
				font-size:	$font-size-title-mobile;
				font-weight: bold;
				text-transform: uppercase;
				
				@include mobile{
					font-size:	1em;
				}
				
			}
	
			a.item-title:hover
			{
				color: $link-hover;
			}
		}
		
		.bio-details
		{
			//border:	1px solid red;
		////	height: auto;
		//	min-height: 6rem;
			//margin-bottom: 0.5rem;
			.bio-detail
			{
				color: $text-color;
				//border:	1px solid red;
				font-size: 0.8rem;
					padding-top: 0; 
			}		
		}
	}
}