#vilbur-biography
{

	.hero
	{
		
		.column, .subtitle
		{
			color: $text-color;
		}
		
		overflow: hidden;
		
		.logo
		{
			height: 4em;
			//margin: 0 auto;
			img
			{
				width: 6em;
				//height: auto;
				max-height: 100%;
			}
		}
		
		.item-title-wrapper
		{
			border:	1px solid darken($brand-primary, 10%);
			background-color: $brand-primary;
			margin-bottom: 0;
			height:	4rem;
			position: relative;
			padding-bottom: 0px;
	
			.item-title
			{
				text-transform: uppercase;
				font-size:	2rem;
				position: absolute;
				bottom: -12px;
				//left: 0px;
				color: white;
				font-weight: bold;
			}
	
			a.item-title:hover
			{
				color: $link-hover;
			}
		}
		
		.bio-details:last-of-type
		{
			height: auto;
			//min-height: 6rem;
			margin-bottom: 2rem;
			
			a
			{
				color: $navbar-item-hover-color;			
				
				&:hover
				{
					color: $link-hover;
				}
			}
		}
	}
}