i
body, html{
	//background-color: #EDF1F4;
	background-color: $body-bg;
}

[v-cloak] {display: none !important}

#home {
	position:	absolute;
	top: 0;
	width:100%;
}


.header-image
{
	@include mobile{
		min-width: 300%;
		margin-left: -150%;
			
	}

	
}




