	i
body, html{
	//background-color: #EDF1F4;
	background-color: $body-bg;
}

[v-cloak] {display: none !important}

#home {
	position:	absolute;
	top: 0;
	width:100%;
}


.header-image
{
	@include mobile{
		min-width: 300%;
		margin-left: -150%;
			
	}
}


.content-container
{

	.content
	{
		//border:3px solid orange;
		padding: calc( #{$navbar-height} / 2) calc( #{$navbar-height} / 8);
	}


	
	&, span
	{
		color: $text-color;
	}
	
	
	//padding-top: $navbar-height;
	//border:	1px solid red;
	ul:not(.category-nav)
	{
		margin:	0;
		li
		{
			//border:	1px solid green;
			padding-bottom:	calc( #{$navbar-height}/2) 
		}
	}
	
}



.logo 
{
	height: 4rem;
	max-height: 100%;

	img
	{
		height: 4rem;
		max-height: 100%;
	}
}

.item-title-wrapper
{
	//border:	1px solid darken($brand-primary, 10%);
	border-bottom:	1px solid white;

	//background-color: $brand-primary;
	margin-bottom: 0;
	height:	4rem;
	position: relative;
	padding-bottom: 0px;

	.item-title
	{
		position: absolute;
		bottom: 0px;
		//left: 0px;
		//color: white;
		font-size:	$font-size-title-mobile;
		font-weight: bold;
		text-transform: uppercase;
		
		@include mobile{
			font-size:	1em;
		}
		
	}

	a.item-title:hover
	{
		color: $link-hover;
	}
}

.details
{
	//border:	5px solid red;
////	height: auto;
//	min-height: 6rem;
	//margin-bottom: 0.5rem;
	.detail
	{
		//border:	1px solid green;
		//color: $text-color;
		font-size: 0.8rem;
		padding-top: 0; 
	}		
}