$navbar-breakpoint: $tablet;


$navbar-item-color: white;
$navbar-background-color: $brand-primary;
 
/* active */
$navbar-item-active-color: $link-hover;
$navbar-item-active-background-color: $navbar-background-color;

/* hover */ 
$navbar-item-hover-color: $link-hover;
$navbar-item-hover-background-color: $navbar-item-color;