#vilbur-portfolio
{

	//$breakpoint: 640px;
	.portfolio.hero
	{
		//border:	1px solid green;

		@include mobile{
			padding-bottom:	calc( #{$navbar-height}/4);
		}
		
		>.hero-body
		{
			padding:	0;
			margin:	0;
			padding-bottom:	0;

		}

		a .portfolio-background
		{
			height: 10rem;
			//border:	1px solid white;
			background-position:	center center;
			background-size:	100%;
			//background-size:	auto 100%;
			transition:	all 600ms;
			position:	relative;
			border-bottom:	3px solid white;

			@include mobile{
				height: 5rem;
				background-size:	120%;
			}

			.backdrop-filter-mask
			{
				height:	100%;
				backdrop-filter: none;
			}

			.title,
			.subtitle
			{
				//opacity:	0;
				position:	absolute;
				bottom:	-12px;
				left:	5%;
				//height:	100%;
				color:white;
				text-transform:	uppercase;
				font-size:	$font-size-title;
				font-weight:	bold;

				@include mobile{
					bottom:	-8px;
					font-size:	$font-size-title-mobile;
				}

			}

		}

		a:hover
		,a.visible
		{
			.portfolio-background
			{
				background-size:	150%;
				//@include mobile{
				//	background-size:	350%;
				//}
			}
		}
		a.visible .portfolio-background
		{
			height:	4rem;
			border-bottom:	3px solid $link-hover;

			@include tablet{
				margin-bottom:	3rem;	
			}

			.backdrop-filter-mask
			{
				backdrop-filter:	grayscale(100%);
			}
			.title,
			.subtitle
			{
				color:	$link-hover;
			}

		} 
	}

	.portfolio-item
	{
		height: auto; 
		max-height: 80192px;
		overflow: hidden;
		
		margin:0;
		padding: 0.5em 1em 3em 1em;
		
		*{
			color:	white;
		}

		.portfolio-item-about
		{
			padding-top: 1em;
			//background-color: #6FA2D6;
			//text-align: right;

			.title
			{
				border-bottom:	1px solid white;
				//border:         1px solid red;
				@include mobile{
					font-size:	1.7em;
				}
				
			}
			.subtitle
			{
				//border:         1px solid yellow;
				margin-bottom: 0.2rem;
				@include mobile{
					font-size:	1.2em;
				}
				
				
			}
		}
			.image
			{
				height:	20vh;
				background-size:     cover;                      /* <------ */
				background-repeat:   no-repeat;
				background-position:	center center;              /* optional, center the image */
				border:	1px solid #262626;
			}
	}
	
	.expand-all a.is-active{
		color:$tabs-link-color;
	}

}