#vilbur-portfolio
{

	//$breakpoint: 640px;


	margin-top:	6rem; 
	
	.portfolio
	{
		>.hero-body
		{
			padding-top:	0;
			//padding-left:	0;
			//padding-right:	0;
			
			@include mobile{
				padding-bottom:	1rem;
			}
			
		}

		a .portfolio-background
		{
			height: 10rem;
			//border:	1px solid white;
			background-position:	center center;
			background-size:	100%;
			//background-size:	auto 100%;
			transition:	all 600ms;
			position:	relative;
			border-bottom:	3px solid white;

			
			@include mobile{
				height: 5rem;
				background-size:	120%;
			}
			
			
			.backdrop-filter-mask
			{
				height:	100%;
				backdrop-filter: none;
			}
			
			.title,
			.subtitle
			{
				//opacity:	0;
				position:	absolute;
				bottom:	-12px;
				left:	5%;
				//height:	100%;
				color:white;
				text-transform:	uppercase;
				font-size:	$font-size-title;
				font-weight:	bold;


				@include mobile{
					bottom:	-8px;
					font-size:	$font-size-title-mobile;
				}
				
			}

			
		} 

		a:hover
		,a.visible
		{
			.portfolio-background
			{
				background-size:	150%;
				//@include mobile{
				//	background-size:	350%;
				//}
			}
		}
		a.visible .portfolio-background
		{
			height:	4rem;
			border-bottom:	3px solid $link-hover;
			
			@include tablet{
				margin-bottom:	3rem;	
			}
			
			
			
			.backdrop-filter-mask
			{
				backdrop-filter:	grayscale(100%);
			}
			.title,
			.subtitle
			{
				color:	$link-hover;
			}
			
		} 
	}

	.portfolio-item
	{
		height: auto; 
		max-height: 80192px;
		overflow: hidden;
		*{
			color:	white;
		}

		.portfolio-item-about
		{
			padding-top: 1em;
			//background-color: #6FA2D6;
			//text-align: right;

			.title
			{
				border-bottom:	1px solid white;
				//border:         1px solid red;
			}
			.subtitle
			{
				//border:         1px solid YELLOW;
			}
		}

		.columns
		{
			padding: 3em 1em 0 1em;

			.image
			{
				height:	20vh;
				background-size:     cover;                      /* <------ */
				background-repeat:   no-repeat;
				background-position:	center center;              /* optional, center the image */
				border:	1px solid #262626;
			}
		}
	}
}