.border{ border: 1px solid #ff8040 !important;}
.border-w{ border: 1px solid white !important;}
.border-o{ border: 1px solid orange !important;}
.border-r{ border: 1px solid red !important;}
.border-g{ border: 1px solid #2ea42b !important;}
.border-b{ border: 1px solid #0080ff !important;}
.border-v{ border: 1px solid violet !important;}
.border-p{ border: 1px solid pink !important;}
.border-black{ border: 1px solid black !important;}

.border-xs{

    border: 1px solid red !important;




}

