/* Footer height
 */
$footer-height:	10rem;
$footer-height-tablet:	22em;
/* ---------------------------------------
 * PUSH FOOTER BOTTOM
 *
 * Layout for push footer on bottom
 *
 *	<div id="app"> 
 *		<div id="content">
 *	
 *		</div>
 *		<footer-component v-if="! $root.loading"></footer-component>
 *	</div>
 *	
 * -----------------------------------------
*/
body {
 	margin: 0;
 	padding: 0;
 	height: 100%;
}
#app {
    min-height: 100%;
	position: relative;
}
#content {
    padding-bottom: $footer-height; /* ATTENTION! padding-bottom should be equal to the footer height (this keeps the footer from overlapping the content) */
	@media screen and (max-width: $tablet)
	{
		padding-bottom: $footer-height-tablet;
	}
}

footer{
    position: absolute;
    width: 100%;
	clear: both;
    bottom: 0;
	padding: 0;
    margin: 0;
	
    height: $footer-height;
	
	@media screen and (max-width: $tablet)
	{
		height: $footer-height-tablet;
	}
}


/*---------------------------------------
	CUSTOM FOOTER STYLE
-----------------------------------------
*/

footer
{
    padding: 2rem 1.5rem 3rem;

	background-color: $brand-primary;
	color:	white;
	
	.container{
		overflow: hidden;
	}
	
	.title{
		color:	white;
	}

}
 
.footer-homepage{
    //position: relative;
	z-index: +1;
	background-color:	transparent;
	transition: all .3s ease-in-out;

	&:hover{
		background-color: $brand-primary;
	}
}
