footer{

	margin-top: 6em;
    padding: 2rem 1.5rem 3rem !important;
	background-color: $brand-primary;
	color:	white;

	.title{
		color:	white;
	}


}

.footer-homepage{
	//border:	1px solid green;
	z-index: +1;
	background-color:	transparent;
	transition: all .3s ease-in-out;

	&:hover{
		background-color: $brand-primary;
	}
}
