.tabs
{
	background-color:	white;
	padding-top:	0.5em;
	padding-bottom:	0.5em;

	ul{
		/* BORDER TOP */
		//border-top-color:	$tabs-border-bottom-color !important;
		//border-top-style:	solid;
		//border-top-width:	$tabs-border-bottom-width;

		/* BORDER BOTTOM */
		border-bottom-style:	none;

		li a {

			//border:	1px solid green; 
			color:$tabs-link-color;
			padding: 0 3em;
			min-width: 5em;
			
				@include mobile{

				padding: 0 1em;
				//text-transform: uppercase;
				//font-size:	1.2rem;
				//
				//border-bottom-color:	transparent;

			}
			&:hover{
				border-bottom-style:	solid;
			}

		}
	}

}

/* Hotfix - otherwise variable doesn't work */
.tabs .is-active{
	color:$tabs-link-active-color
} 